In [95]:
import pandas as pd

In [96]:
df = pd.read_csv('../Datasets/dataSetFinalML.csv', delimiter=';')

df.describe()

,hotel_ID,room_ID,num_noites,adultos,criancas,bebes,preco_euros,dif_data_chegada_data_reserva,quantidade,capacidade_maxima,capacidade_max_criancas,capacidade_max_bebes,estrelas,qtd_quartos,is_holiday,event_count,temperature_avg,temperature_max,temperature_min
count,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000,22228.000000
mean,390.515071,1941.739878,2.044718,2.026768,0.061049,0.018400,216.199093,22.862021,14.840471,2.552456,1.071576,0.497481,2.844475,62.800342,0.119759,0.039725,16.181786,22.097040,11.280776
std,115.450487,620.499171,1.758097,0.999687,0.293919,0.139328,287.338663,34.784771,19.554914,0.917034,1.043421,0.562744,1.381308,54.646023,0.324687,0.198515,4.920982,6.272823,4.836898
min,20.000000,81.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,3.000000,7.300000,-2.400000
25%,310.000000,1407.000000,1.000000,2.000000,0.000000,0.000000,72.000000,2.000000,4.000000,2.000000,0.000000,0.000000,3.000000,23.000000,0.000000,0.000000,12.550000,17.000000,7.900000
50%,379.000000,1995.000000,1.000000,2.000000,0.000000,0.000000,120.000000,8.000000,8.000000,2.000000,1.000000,0.000000,3.000000,41.000000,0.000000,0.000000,16.100000,21.000000,11.600000
75%,494.000000,2444.000000,2.000000,2.000000,0.000000,0.000000,240.000000,29.000000,16.000000,3.000000,2.000000,1.000000,4.000000,84.000000,0.000000,0.000000,19.700000,26.000000,15.300000
max,561.000000,2897.000000,14.000000,30.000000,4.000000,3.000000,8078.000000,346.000000,90.000000,9.000000,8.000000,3.000000,5.000000,192.000000,1.000000,2.000000,34.700000,44.300000,25.700000

In [97]:
# drop unnecessary columns

columns_to_drop = [
    "Q_tipo_quarto",
    "rate_plan",
    "capacidade_maxima",
    "capacidade_max_criancas",
    "capacidade_max_bebes",
    "localizacao",
    "estrelas",
    "hora_max_checkin",
    "is_holiday",
    "event_count",
    "temperature_avg",
    "temperature_max",
    "temperature_min",
    "preco_euros",
    "criancas",
    "bebes",
    "quantidade"
]

df = df.drop(columns_to_drop, axis=1)

df.dtypes

hotel_ID                          int64
pais                             object
estado_reserva                   object
room_ID                           int64
data_reserva                     object
data_chegada                     object
data_partida                     object
num_noites                        int64
adultos                           int64
dif_data_chegada_data_reserva     int64
qtd_quartos                       int64
dtype: object

In [98]:
df['data_chegada'] = pd.to_datetime(df['data_chegada'])
df['data_partida'] = pd.to_datetime(df['data_partida'])

df['mes_chegada'] = df['data_chegada'].dt.month
df['mes_partida'] = df['data_partida'].dt.month
df

,hotel_ID,pais,estado_reserva,room_ID,data_reserva,data_chegada,data_partida,num_noites,adultos,dif_data_chegada_data_reserva,qtd_quartos,mes_chegada,mes_partida
0,443,Canadá,Registado,2061,2023-01-11T00:00:00.000Z,2023-02-21 00:00:00+00:00,2023-02-25 00:00:00+00:00,4,1,41,42,2,2
1,321,Espanha,Registado,1417,2022-07-10T00:00:00.000Z,2022-08-08 00:00:00+00:00,2022-08-09 00:00:00+00:00,1,4,29,68,8,8
2,511,Alemanha,Registado,2394,2023-03-05T00:00:00.000Z,2023-04-02 00:00:00+00:00,2023-04-08 00:00:00+00:00,6,1,28,16,4,4
3,179,França,Registado,632,2022-12-21T00:00:00.000Z,2023-03-26 00:00:00+00:00,2023-03-27 00:00:00+00:00,1,4,95,132,3,3
4,495,Portugal,Registado,2328,2022-07-20T00:00:00.000Z,2022-08-06 00:00:00+00:00,2022-08-08 00:00:00+00:00,2,4,17,10,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22223,482,Portugal,Registado,2285,2022-11-05T00:00:00.000Z,2022-11-05 00:00:00+00:00,2022-11-06 00:00:00+00:00,1,2,0,143,11,11
22224,535,Portugal,Pendente,2524,2022-08-12T00:00:00.000Z,2022-09-08 00:00:00+00:00,2022-09-09 00:00:00+00:00,1,2,27,11,9,9
22225,311,Portugal,Registado,1407,2022-09-14T00:00:00.000Z,2022-11-06 00:00:00+00:00,2022-11-07 00:00:00+00:00,1,2,53,30,11,11
22226,313,França,Registado,1378,2022-01-29T00:00:00.000Z,2022-02-26 00:00:00+00:00,2022-03-04 00:00:00+00:00,6,2,28,13,2,3
22227,310,Portugal,Cancelado,1673,2022-08-02T00:00:00.000Z,2022-11-14 00:00:00+00:00,2022-11-15 00:00:00+00:00,1,2,104,192,11,11